

 <div class="panel panel-default ">
	<div class="row">
		<div class="col-md-10">	
            <h1>I am open question</h1>
			<h1 style="padding-left: 50px">{{question1.question}}</h1>
			<div style="padding-left: 50px; padding-bottom: 50px" class="input-group">
    			<textarea ng-model='openquestionanswer' class="form-control custom-control" rows="1" style="resize:none"></textarea>     
    			<span class="input-group-addon btn btn-primary " ng-click='increment()'>Submit</span>
			</div>

		</div>
	</div>
</div>

