

	<div class="media" style="background-color:cyan; min-height: 300px; padding: 20px">
			  <div class="media-left media-top">
			    <a ng-href=' #/play/{{lessonObj._id}}' <p>  
			      <img class="media-object" src="images/Optimized-smart-board2.jpg" alt="..."  </p> 
			    </a>
			  </div>
			  <div class="media-body col-xs-10">
			  		<div class="media-heading"> <h1>GREAT JOB!</h1>  <b style="color: blue" >{{lessonObj.name | limitTo: 50}}</b><br><span style="color: black"><h1>{{finalgrade | limitTo: 4 }}  % </h1> </span> </div>
			  </div>
			  <div style="height: 200px"></div>
        
				<a class= "btn btn-primary btn-block"    href="#/" ><h3>home</h3></a>
			</div>

			<!-- showing the results -->
		<div ng-repeat = "step in stepresult">
			<div ng-repeat = "answer in step">
				this was your answer: <b>{{answer}}</b>
				</div>
				</div>


				<div ng-repeat = "index in thislesson.steps">
				index : {{index}}
				<div ng-repeat = "quizitems in index.quizItems">
				quizitems : {{quizitems}}
				</div>
				</div>


				
<!-- need to change the way report data is gathered so it will have all information:

resultsofastep = [
	 {
		quizid: question1id,
		quizresult: correct / wrong,
		answer: exact answer given by student
	},
	{
		quizid: question2id,
		quizresult: correct / wrong,
		answer: exact answer given by student
	},
	{
		quizid: question2id,
		quizresult: correct / wrong,
		answer: exact answer given by student
	}
]

resultsofanotherstep = [
	 {
		quizid: question1id,
		quizresult: correct / wrong,
		answer: exact answer given by student
	},
	{
		quizid: question2id,
		quizresult: correct / wrong,
		answer: exact answer given by student
	},
	{
		quizid: question2id,
		quizresult: correct / wrong,
		answer: exact answer given by student
	}
]

allresults = {
	firststepresults: resultsofastep,
	secondstepresults: resultsofanotherstep
} -->