

	<div class="media" style="background-color:cyan; min-height: 300px; padding: 20px">
			  <div class="media-left media-top">
			    <a ng-href=' #/play/{{lessonObj._id}}' <p>  
			      <img class="media-object" src="images/Optimized-smart-board2.jpg" alt="..."  </p> 
			    </a>
			  </div>
			  <div class="media-body col-xs-10">
			  		<div class="media-heading"> <h3>GREAT JOB!</h3>  <b style="color: blue" >{{lessonObj.name | limitTo: 50}}</b><br><span style="color: black"><h1>{{finalgrade | limitTo: 4 }}  % </h1> </span> </div>
			  </div>
			  <div style="height: 200px"></div>
	        	
				<a ng-if = "show === 'hide'" class= "btn btn-primary btn-block"    href="" ng-click="getInfo()" ><h3>do you want to see your report?</h3></a>
				<a class= "btn btn-primary btn-block"    href="#/" ><h3>home</h3></a>
			</div>
		
			<div report-question ng-if = "show === 'show'" ></div>
			

		
			
	