<!-- this landing page comes from onelesson.html ==> main.html-->
<!--  showing the questions of the lesson -->


<!-- <p>play lesson starting here</p> --> <!-- playController.js/playLessonController -->
<a href="#/">home</a> <br>

 <div class= "col-xs-10 col-xs-offset-1 " >
		  <h1 style="border-style: solid; background: #42d7f4; border-width: 2px; border-color: blue ; text-align: center"  >{{thislesson.name}}</h1>
		  </div><br>


<!-- for ng-if don't use {{}} to get the scope, just the word attribute itself -->
<div ng-include = '"views/playLessonTypes/_openQuestion.html"'      ng-if="options === 'type1'"></div> 
<div ng-include = '"views/playLessonTypes/_truefalsequestion.html"' ng-if="options === 'type2'" ></div>
<div ng-include = '"views/playLessonTypes/_multipleChoices.html"'   ng-if="options === 'type3'"></div> 
<div ng-include = '"views/playLessonTypes/_exactmatch.html"'        ng-if="options === 'type4'"></div>
<div ng-include = '"views/playLessonTypes/_fillInTheBlanks.html"'   ng-if="options === 'type5'"></div>  
<!-- if we have not defined a partial yet, it will go to the line below -->
<div ng-include = '"views/playLessonTypes/_otherquestion.html"'     ng-if="options === 'type9'"></div>


<!-- index: {{index}}
options: {{options}}

 -->

