<!-- this landing page comes from onelesson.html ==> main.html-->
<!--  showing the questions of the lesson -->


<!-- <p>play lesson starting here</p> --> <!-- playController.js/playLessonController -->
<a href="#/">home</a> <br>


<!-- for ng-if don't use {{}} to get the scope, just the word attribute itself -->
<div ng-include = '"views/playLessonTypes/_openQuestion.html"'      ng-if="options === 'type1'"></div> 
<div ng-include = '"views/playLessonTypes/_truefalsequestion.html"' ng-if="options === 'type2'" ></div>
<div ng-include = '"views/playLessonTypes/_multipleChoices.html"'   ng-if="options === 'type3'"></div> 
<div ng-include = '"views/playLessonTypes/_otherquestion.html"'     ng-if="options === 'type4'"></div>


index: {{index}}
options: {{options}}



<!-- <p> these are the options </p>
{{options}} </br>
{{name}}


<p>a lesson id is: {{thislessonid}}</p>

with the name of: {{thislesson.name}}

<div ng-repeat = "step in thislesson.steps">
	steps: {{$index}}.  number of questions: {{step.quizItems.length}} 
</div>

a question : {{question1.question}}


 -->