<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<meta charset="utf-8">
	<title>Checkout Lergo</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
	<body class ='ng-cloak'ng-controller = 'lessonController'>

		<div class="container-fluid">
			<label style="padding-top: 30px">set language: <input ng-model="search.language "></label>
			<label style="padding-top: 30px; padding-left: 30px">general search: <input ng-model="search.$"></label>
			<div class="row" >
				<h3 class='ng-cloak'>Number of lessons [2 questions or more ]: {{goodlessons}}</h3>
				<p>Number of visible lessons: {{(lessons|filter:search).length}}</p>
				<p>Total number of lessons: {{lessons.length}}</p>

				<div ng-view></div>
				
			</div>
		</div>

		 
		<script src ="jquery-3.1.1.js"></script>
		<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js" ></script>
		<script src ='ng-infinite-scroll.min.js'></script>
		<script src ='app.js' ></script>
		<script src ='controllersjs/lessonController.js' ></script>
		<script src ='factoriesjs/datafactory.js' ></script>
		<script src ='factoriesjs/statsfactory.js' ></script>

	</body>
</html>
