<!DOCTYPE html>
<html ng-app='myApp'>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body ng-controller = 'lessonController'>
<div class="container">
	<!-- <label style="padding: 60px">set language: <input ng-model="searchText"></label> -->
	<label style="padding: 60px">set language: <input ng-model="search.language"></label>
	<label style="padding: 60px">general search: <input ng-model="search.$"></label>
	<div class="row" >

<p>Number of visible lessons: {{(lessons|filter:search).length}}</p>
<p>Total number of lessons: {{lessons.length}}</p>

		<!-- <div ng-repeat= "l in lessons  | filter: searchText">  -->
		<div ng-repeat= "lessonObj in lessons  | filter: search"> 
			<div class="clearfix" ng-if="$index % 3 ==0"></div>
			<div class='col-md-4 col-sm-6 col-xs-12'>
			<div id="lessontitle">{{$index}}  {{lessonObj.name }} </div>
			</div>
		
		</div>
	</div>
</div>
 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src = 'app.js' ></script>
<script src = 'factories.js' ></script>
</body>
</html>
