

<body bgcolor="#E6E6FA">



<div class="container-fluid" style="background-color: #91CFFF">
<div class="row">
<div class="col-md-3 col-sm-12">
</div>
<div class="col-md-6 col-sm-12">
<div style="height: 200px"></div>

<div class="list-group">
  <div  class="list-group-item" style="background-color: #91CFFF; border: none">
    <h1  class="list-group-item-heading"><img  class="center-block" src="images/transparent-beta.png"></h1>
   <!--  <p class="list-group-item-text">...</p> -->
  </div>
</div>
<div class="list-group">
 <div  class="list-group-item" style="background-color: white; border-color: white">
    <h4 class="list-group-item-heading text-center" style ='line-height: 100px'><input style="border:none; font-family:sans-serif; font-size: 40px  " type="text" name="text" placeholder="CODE"></h4>
    <!-- <p class="list-group-item-text">...</p> -->
  </div>
</div>
<a href="#" class="list-group" >
  <div class="list-group-item" style="background-color: black; border: none" >
    <h1  class="list-group-item-heading text-center" style=" font-family:sans-serif; color: white; text-decoration: none; line-height: 150px">ENTER</h1>
   <!--  <p class="list-group-item-text">...</p> -->
  </div>
  <div style="height: 600px; background-color: #91CFFF" ></div>
</a>
</div>
<div class="col-md-3 col-sm-12">

</div>

<script>
function myFunction() {
    document.body.style.backgroundColor = "#91CFFF";
}
myFunction();
</script>
