
<!-- need to implement responsive design. try bootstrap media object -->

	<div ng-repeat= "lessonObj in lessons  | filter: search | limitTo: 9 "> 
		<div class='col-md-4 col-sm-6 col-xs-12'>
			<div class="media" style="background-color:cyan; min-height: 300px; padding: 20px">
			  <div class="media-left media-top">
			    <a href="http://localhost:9000/#!/public/homepage?lergoLanguage=en&lergoFilter.filterLanguage=%22english%22 " target="_blank">
			      <img class="media-object" src="images/Optimized-owl2.jpg" alt="..."  </p> 
			    </a>
			     <div style="font-size: 10px">{{lessonObj._id}}</div>
			  </div>
			  <div class="media-body">
			  		<div class="media-heading"> <p> {{$index}}  <b style="color: blue" >{{lessonObj.name | limitTo: 50}}</b><br><span style="color: black">{{lessonObj.description | limitTo: 150}}</span> </p></div>
			  </div>
			</div>
			<div style="height: 30px"></div>  <!-- to seperate between the rows -->
		</div>	
	</div>


