
<!-- called by ng-include sitting in nav.html and by onelesson.html-->

	
		
			<div class="media" style="background-color:cyan; min-height: 300px; padding: 20px">
			  <div class="media-left media-top">
			    <a ng-href=' #/play/{{lessonObj._id}}' <p>  
			      <img class="media-object" src="images/Optimized-owl2.jpg" alt="..."  </p> 
			    </a>
			  </div>
			  <div class="media-body">
			  		<div class="media-heading"> <p> {{$index}}  <b style="color: blue" >{{lessonObj.name | limitTo: 50}}</b><br><span style="color: black">{{lessonObj.description | limitTo: 150}}</span> </p>
			  		</div>

			  </div>
			<!--   <div class="media mt-2">
			      <a class="media-left" ng-href=' #/play/{{lessonObj._id}}'>
			        <img class="media-object" src="..." alt="Generic placeholder image">
			       <i class=" media-object fa fa-play fa-5x"></i>
			      </a>

			    </div> -->
			
	        	
	       		<div ng-if="options === ''" style="height: 200px"></div>
        
				<button ng-if="options === ''" class= "btn btn-primary btn-block"    href="" ng-click="increment()"><h3>lets go...</h3></button>

			</div>	
		
			<div style="height: 30px"></div>  <!-- to seperate between the rows -->


