<nav class="navbar navbar-default"> <!--  nav.html controller is lessoncontroller -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Lergo logo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Create <span class="sr-only">(current)</span></a></li>
        <li><a href="http://localhost:9000/#!/public/homepage?lergoLanguage=en&lergoFilter.filterLanguage=%22english%22" target="_blank">Lergo.org</a></li>
        <li class="dropdown">
          <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log in<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign-up</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="language" ng-model="search.language">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="search.$">
        </div>
      
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#it">lergo.it</a></li>
        <li><a href="#one">play lesson</a></li>
        <li class="dropdown">
          <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Parents</a></li>
            <li><a href="#">Teachers</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--  custom directive for stats
 --> <stats-data></stats-data>

  <!-- shows the lessons with ng-repeat and filtered using ng-include for the actual lessons-->
  <div ng-repeat= "lessonObj in lessons  | filter: search | limitTo: 99 ">
    <div class='col-md-4 col-sm-6 col-xs-12'> 
      <div ng-include="'views/main.html'"></div> <!-- this is the individual lesson -->
    </div>
  </div>
    