<!-- this landing page comes from onelesson.html ==> main.html-->
<!--  showing the questions of the lesson -->
<!-- put a ng-include on this page to show the first , most simple question : true / false -->

<!-- <p>play lesson starting here</p> --> <!-- playController.js/playLessonController -->
<a href="#/">home</a> <br>
<!-- for ng-if don't use {{}} to get the scope, just the word attribute itself -->
<div ng-include = '"views/playLessonTypes/openQuestion.html"' ng-if="options === 'option1'"></div> 
<div ng-include = '"views/playLessonTypes/truefalsequestion.html"' ng-if="options === 'option2'" ></div> 
<div ng-include = '"views/playLessonTypes/otherquestion.html"' ng-if="options === 'option3'"></div>

{{index}} 

<!-- <p> these are the options </p>
{{options}} </br>
{{name}}


<p>a lesson id is: {{thislessonid}}</p>

with the name of: {{thislesson.name}}

<div ng-repeat = "step in thislesson.steps">
	steps: {{$index}}.  number of questions: {{step.quizItems.length}} 
</div>

a question : {{question1.question}}


 -->