<!-- place to hold the the true/false question template -->
<!-- this is a ng-include from playlesson.html -->

<div class="container">
	<div class="panel panel-default push-left: 20px">
		<div class="row">
			
			<div class="col-xs-10 col-xs-offset-3">
				<h2>{{question1.question}}</h2>
			</div>

		</div>
	  <form>
	    <fieldset class="form-group ">
	      <!-- <legend style="font-size: 50px" class="col-form-legend col-sm-2"></legend> -->
	      <div class="row">
	      
	      <div class="col-xs-10 col-xs-offset-3"> 
	        <div class="form-check">
	          <label class="form-check-label">
	            <input class="form-check-input" type="radio" ng-model="option.name" id="gridRadios1" value="option1">
	             True 
	          </label>
	        </div>
	        <div class="form-check">
	          <label class="form-check-label">
	            <input class="form-check-input" type="radio" ng-model="option.name" id="gridRadios2" value="option2">
	           False
	          </label>
	        </div>
	      </div>
	      </div>
	    </fieldset>
	  </form>
	  {{option.name}}
	</div>
</div>